* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
}

body {
  background:
          rgb(250, 237, 205);
}
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: rgb(204, 213, 174);
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

h1 {
  margin: 32px 0;
  color: black;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  display: flex;
  margin: 0 auto;
  width: max-content;
  margin-bottom: 32px;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #40513B;
  outline: none;
  width: 320px;
  background: transparent;
  color: black;
}

.todo-input::placeholder {
  color: black;
}

.todo-button {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
          90deg,
          rgb(64, 81, 59) 0%,
          rgb(96, 153, 102) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #264e70;
}

.todo-button.edit {
  background: linear-gradient(
          90deg,
          #264e70 100%,
          rgb(44,91,131) 0%

  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
          90deg,
          #e38a76 0%,
          rgb(223, 120, 97) 100%
  );

  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
          90deg,
          #c076e3 0%,
          rgb(202,139,231) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
          90deg,
          rgb(231,139,169) 0%,
          #e37699 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
          90deg,
          rgb(139,169,231) 0%,
          #7699e3 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}